// Define a map of statuses and their corresponding colors
$statuses: (
	'stopped': #e14165,
	'paused': #c2c2ff,
	'draft': #8686ff,
	'online': #2ee5ac,
);

// Generate CSS classes dynamically

.cards-item {
	background: #fff;
	position: relative;

	transition: scale 0.7s ease, box-shadow 0.3s ease-in;

	&:hover {
		scale: 1.0075;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 4px;
		height: 100%;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
}

@each $status, $color in $statuses {
	.status-#{$status} {
		&::after {
			background: $color;
		}
	}
}
.cards_name {
	color: #5c5c5c;
}
.online {
	color: #1bda9d;
}

.paused {
	color: #ff8346;
}

.stopped {
	color: #fe4848;
}
