.table__wrapper {
	/* width: calc(var(--index) * 45); */
	min-width: 600px;
	border: 2px solid var(--blue);
	min-height: 320px;
	margin-bottom: 10px;
}

.customers-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 5px;
	padding: 8px;
	margin-bottom: 30px;

	th,
	td {
		padding: 2px;
	}

	td {
		text-transform: capitalize;
		font-size: 13px;
	}
	th {
		text-transform: uppercase;
	}
}

.customers-table th,
.customers-table td {
	text-align: left;
	padding: 8px;
}

.customers-table th {
	color: #999999;
	font-size: 11px;
	font-weight: 500;
}
